[loggers]
keys=root,gui

[handlers]
keys=handler1


[formatters]
keys=formatter1

[logger_root]
level=NOTSET
handlers=handler1

[logger_gui]
level=NOTSET
handlers=handler1
qualname=gui
propagate=0

[formatter_formatter1]
format=%(asctime)s %(name)s - %(levelname)s: %(message)s
datefmt=%m/%d/%Y %H:%M:%S



[handler_handler1]
class=handlers.RotatingFileHandler
level=NOTSET
backupCount=3
maxBytes=1024
formatter=formatter1
args=("log.log",)